<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-login.css">
    <title>LogMyFit - Logowanie</title>
</head>
<body>
    <header>
        <div class="left">
            <img class="logo" src="../images/logo.png" alt="Logo LogMyFit">
            <h1>LogMyFit</h1>
        </div>
    </header>
    <div class="main">
        <h1 class="greeting">Witaj ponownie</h1>
        <div class="form-box">
            <form action="admin-panel.html" method="post">
                <p>Podaj adres e-mail</p>
                <input type="text" placeholder="example@gmail.com">
                <p>Hasło</p>
                <input type="password" placeholder="*****">
                <textarea readonly>reCaptcha (TODO)</textarea>
                <input type="submit" value="Zaloguj się">
                <p>Nie masz jeszcze konta? <a href="register.html">Załóż konto</a></p>
            </form>
        </div>
    </div>
</body>
</html>