<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% csrf_token %}

    <link rel="stylesheet" href="{% static 'css/style_header.css' %}">
    
    <title>LogMyFit</title>
    
</head>
<body>
      <header>
         <div class="left">
            <a href="{% url 'home_page' %}">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo LogMyFit">
            </a>
            <h1>LogMyFit - Ranking</h1>
         </div>
         <div class="right">
            <div class="streak">
               <h3>7</h3>
               <h4>dni</h4>
            </div>
            <div class="level">
               <h3>Poziom</h3>
               <h4>{{ user.user_score_xp }}/100 XP</h4>
            </div>
            <div class="profile">
               <img src="{% static 'images/profile.svg' %}" alt="Profil">

                  <div class="sub-menu-wrap" id="subMenu">
                     <div class="sub-menu">
                        <div class="user-info">
                           <h3>{{ user.username }}</h3>
                           <hr>
                           <a class="sub-link-menu" href="{% url 'user_profile_page' %}">
                              <p>Profil</p>
                              <span>></span>
                           </a>
                           <a class="sub-link-menu" href="{% url 'ranking_page' %}">
                              <p>Ranking</p>
                              <span>></span>
                           </a>
                           <a class="sub-link-menu" href="{% url 'logout' %}">
                              <p>Wyloguj</p>
                              <span>></span>
                           </a>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </header>
    <div class="main">
  
        <table>
            <tr>
                <th>Miejsce</th>
                <th>User</th>
                <th>Punkty</th>
            </tr>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.user_score_xp }} xp</td>
                </tr>
                {% endfor %}
            </tbody>     
        </table>
    

   <input type="hidden" id="csrf_token" value="{{ csrf_token }}">


    <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>