<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-login.css">
    <title>LogMyFit - Logowanie</title>
</head>
<body>
    <header>
        <div class="left">
            <img class="logo" src="../images/logo.png" alt="Logo LogMyFit">
            <h1>LogMyFit</h1>
        </div>
    </header>
    <h2>Na podany adres email została wysłana wiadomość z linkiem weryfikacyjnym.</h2>
    <h2>Zweryfikuj konto i <a href="login.html">zaloguj się</a>.</h2>
</body>
</html>